.month h4 + a, .month h4 + .dropdown {
  margin-top: 10px;
}

.price div:before, div.price:before {
  content: '$';
  position: absolute;
  z-index: 1;
  height: 26px;
  line-height: 26px;
  width: 16px;
  text-align: center;
}

.month-detail input[type=number] {
  padding-right: 0;
}

.month-detail .detail-title {
  font-weight: bold;
  padding-right: 10px;
}
